body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: azure;
}

.star {
  font-size: 30px;
  color: gray;
}

.checked:hover {
  color: yellow;
}
