body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star {
    display: flex;
    cursor: pointer;
}


.fa-star {
    padding: 5px;
    font-size: 40px;
    color: #ccc; 
}


.fa-star.checked {
    color: gold; 
}

.fa-star.hovered {
    color: gold; /* or any color you want for the hover effect */
  }